@import '../scss/Variables.scss';

header
{
    background-color: $primary-color;
    color: $tertiary-color;
    box-shadow: 0rem 0.25rem 2rem 0.25rem $primary-color;
}

.welcomeText
{
    font-weight: bold;
}

.fab
{
    margin-left: 0.125rem;
    margin-right: 0.125rem;
}

.fa-facebook
{
    color: #1877f2; 
}

.fa-linkedin
{
    color: #0a66c2;
}

.fa-twitter
{
    color: #1da1f2;
}

.fa-instagram
{
    color: #c32aa3;
}

.fa-pinterest
{
    color: #e60023;
}

.fa-tumblr
{
    color: #35465c;
}

.fa-youtube
{
    color: #ff0000;
}

.fa-facebook-messenger
{
    color: #0084ff;
}

.fa-skype
{
    color: #00aff0;
}

.fa-discord
{
    color: #7289da;
}

.logotype
{
    display: flex;
    text-decoration: none;
    color: $tertiary-color;
    font-size: 0;

    h1
    {
        font-size: $x-large-size;
        margin: 0;
        
        &::first-letter
        {
            color: $secondary-color;
            font-size: $xxx-large-size;
        }
    }

    &:hover
    {
        color: $tertiary-color;
        text-decoration: none;
    }
}

.navButton
{
    display: inline-block;
    color: $tertiary-color;
    font-family: $primary-font-family;
    font-size: calc(#{$small-size} * 1.25);

    @media screen and (min-width: $screen-lg-min-width)
    {
        display: none;
    }
}

.navList
{
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    align-items: flex-end;
    list-style: none;
    margin: 0 0 0 auto;
    padding: 0;

    li
    {
        display: block;
        position: relative;

        a
        {
            display: inline-block;
            position: relative;
            text-decoration: none;
            color: $tertiary-color;
            font-family: $primary-font-family;
            font-size: calc(#{$small-size} * 1.25);
            padding: calc(#{$small-size} * 1.375);
        }

        &::after
        {
            display: block;
            position: absolute;
            background: $tertiary-color none repeat scroll 0 0;
            border-radius: 0.075rem;
            height: 0.25rem;
            left: 50%;
            bottom: 0;
            width: 0;
            transition: width $medium-transition-delay ease-in-out, left $medium-transition-delay ease-in-out;
            content: '';
        }

        &:hover:after:not(.current)
        {
            @extend li.current::after;
        }

        &.current::after
        {
            width: 100%;
            left: 0;
        }
    }

    @media screen and (min-width: $screen-lg-min-width)
    {
        flex-direction: row;
        justify-items: center;
        align-items: center;
    }
}