@import '../styles/Variables.scss';

html
{
  height: 100%;
  margin: 0;
  padding: 0;
}

body
{
  min-height: 100%;
  background-color: $tertiary-color;
}

h1, h2, h3, h4, h5, h6
{
  font-family: $primary-font-family;
}

p, input
{
  font-family: $secondary-font-family;
}

#root
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

div.input-group
{
  border-radius: 0.25rem;
  transition: box-shadow $short-duration ease-in-out;

  &:hover, &:focus-within
  {
    box-shadow: 0rem 0rem 2rem -0.5rem $primary-color;
  }
}

input.form-control
{
  background-color: lighten($secondary-color, 15%);
  border-color: darken($secondary-color, 5%);
  color: $primary-color;

  &:focus
  {
    background-color: lighten($secondary-color, 20%);
    border-color: darken($secondary-color, 15%);
    color: $primary-color;
    box-shadow: none;
  }

  &::placeholder
  {
    color: $primary-color;
    opacity: 0.5;
  }
}

span.input-group-text, div.dropdown-menu, a.dropdown-item, button.btn
{
  background-color: $secondary-color;
  border-color: darken($secondary-color, 5%);
  color: $primary-color;
}

a.dropdown-item.active, a.dropdown-item:hover, button.btn:hover
{
  background-color: darken($secondary-color, 5%);
  color: $primary-color;
}

button.btn
{
  &:hover, &:focus
  {
    box-shadow: none;
  }
}

.caret-off
{
  &::before, &::after
  {
    display: none;
  }
}