@import '../styles/Variables.scss';

.cover
{
    border: 5px solid $secondary-color;
    width: 100%;
}

.links
{
    list-style: none;
    padding-left: 0;

    li
    {
        background-color: transparent;
        padding: $x-small-size;

        &:not(:last-child)
        {
            border-bottom: 1px solid $secondary-color;
        }
    }
}