@import '../styles/Variables.scss';

.book-description
{
    white-space: pre-wrap;
    font-size: $small-size;

    &::before
    {
        display: block;
        font-family: $primary-font-family;
        font-size: $medium-size;
        margin-bottom: $small-size;
        content: 'Description';
    }
}