@import '../styles/Variables.scss';

.copyright-text
{
    font-weight: bold;
    font-size: small;
    text-align: center;
    margin: 0;
    padding: $x-small-size;
    border-top: 1px solid $tertiary-color;
}

footer
{
    background-color: $primary-color;
    color: $tertiary-color;
    box-shadow: 0 (-$xx-small-size) $large-size $xx-small-size $primary-color;
}