@import '../styles/Variables.scss';

footer
{
    background-color: $primary-color;
    color: $tertiary-color;
    box-shadow: 0rem -0.25rem 2rem 0.25rem $primary-color;
}

.copyright-text
{
    font-weight: bold;
    font-size: small;
    text-align: center;
    margin: 0;
    padding: 0.5rem;
    border-top: 1px solid $tertiary-color;
}