@import '../styles/Variables.scss';

.welcome-text
{
    font-weight: bold;
}

.fab
{
    margin: 0 $xxx-small-size 0 $xxx-small-size;
}

.fa-facebook
{
    color: #1877f2; 
}

.fa-linkedin
{
    color: #0a66c2;
}

.fa-twitter
{
    color: #1da1f2;
}

.fa-instagram
{
    color: #c32aa3;
}

.fa-pinterest
{
    color: #e60023;
}

.fa-tumblr
{
    color: #35465c;
}

.fa-youtube
{
    color: #ff0000;
}

.fa-facebook-messenger
{
    color: #0084ff;
}

.fa-skype
{
    color: #00aff0;
}

.fa-discord
{
    color: #7289da;
}

header
{
    background-color: $primary-color;
    color: $tertiary-color;
    box-shadow: 0 $xx-small-size $large-size $xx-small-size $primary-color;
}