@import '../styles/Variables.scss';

.loader
{
    border: $x-small-size solid transparent;
    border-top: $x-small-size solid $secondary-color;
    border-bottom: $x-small-size solid $secondary-color;
    border-radius: 50%;
    width: $xxx-large-size;
    height: $xxx-large-size;
    margin: $medium-size auto $medium-size auto;
    animation: spin $x-long-duration linear infinite;
}

@keyframes spin
{
    100%
    { 
        transform: rotate($round-angle);
    }

    0%
    { 
        transform: rotate($zero-angle);
    }
}