$primary-color: #8b4513;
$secondary-color: #cd853f;
$tertiary-color: #ffdead;
$primary-font-family: 'Grenze Gotisch', cursive;
$secondary-font-family: 'Grenze', serif;
$xxx-small-size: 0.125rem;
$xx-small-size: 0.25rem;
$x-small-size: 0.5rem;
$small-size: 1rem;
$medium-size: 1.5rem;
$large-size: 2rem;
$x-large-size: 2.5rem;
$xx-large-size: 3rem;
$xxx-large-size: 3.5rem;
$screen-xs-max-width: 575px;
$screen-sm-min-width: 576px;
$screen-md-min-width: 768px;
$screen-lg-min-width: 992px;
$screen-xl-min-width: 1200px;
$background-far-z-index: -2;
$background-near-z-index: -1;
$middleground-z-index: 0;
$foreground-near-z-index: 1;
$foreground-far-z-index: 2;
$short-duration: 250ms;
$medium-duration: 500ms;
$long-duration: 750ms;
$x-long-duration: 1000ms;
$zero-angle: 0deg;
$right-angle: 90deg;
$straight-angle: 180deg;
$round-angle: 360deg;